.container-link-to-home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5rem;
}

.img-cart {
    width: 100px;
    background-color: var(--back);
    padding: 0.75rem;
    border-radius: 1rem;
    border: 1px solid var(--red);
}

.container-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 50%;
    margin: 2rem auto;
    transition: 0.3s ease all;
}
.container-cart:hover{
    filter: brightness(0.8);
}

.container-info-cart {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.container-infos-cart {
    width: 60%;
}

.p-cart {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 1px solid var(--red);
}

.small-cart {
    font-size: 1rem;
    font-weight: 600;
}

.img-delete {
    width: 100px;
    transition: 0.3s ease all;
}

.img-delete:hover{
    width: 105px;
}

.button-delete {
    border: none;
    background-color: transparent;
}

.container-cart-2{
    margin-top: 3rem;
    max-width: 35%;
    border: 1px solid var(--red);
    margin-bottom: 1rem;
}

.container-total{
    text-align: center;
}

@media (max-width: 1470px){
    .container-cart{
        max-width: 75%;
    }
    .container-cart-2{
        max-width: 60%;
    }
}
@media (max-width: 900px){
    .container-cart{
        max-width: 60%;
        display: flex;
        flex-direction: column;
    }
    .container-cart-2{
        max-width: 45%;
        display: flex;
        flex-direction: column;
    }
    .container-info-cart{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .small-cart{
        margin: 7px 0;
    }
    .container-total{
        margin: 1rem 0;
    }
}
@media(max-width: 576px){
    .img-delete{
        width: 70px;
    }
    .img-delete:hover{
        width: 75px;
    }
}
@media (max-width: 450px){
    .container-cart{
        max-width: 70%;
        padding: 2rem 1rem;
    }
    .container-cart-2{
        max-width: 55%;
    }
}