.container-cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 325px);
    gap: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}
.h2-shopping{
    margin-top: 3rem;
    font-size: 2.5rem;
}